.title
{   
    text-align: center;
    font-size: 5rem;
}

.bodycolor{
    /* background-color: rgb(7, 255, 255); */
    background-image: linear-gradient(to right, #02aab0 ,#00cdac);
}



.bm11{
    height: 8.5rem;
    width: 6rem;
    border-radius: 5%;
    margin: 1.7rem;
    background-color: aliceblue;
    display: inline-block;
    padding: 2rem;
    font-size: 5rem;
    border: rgb(249, 249, 249);
    background-size: 6.5rem 8.5rem;
}

.drums{
    margin-top :10rem; 
    margin-left: 15rem;
}
.bm11:hover{
    background-color: blue;
}


.pressed{
    box-shadow: 0 3px 4px 0 rgb(187, 46, 46) ;
    opacity: 0.5;
}

.line1{
    size: 100px 200px;
}

/* .a{
    background-image: url(images/crash.png);
} */
.s{
    background-image: url(images/snare.png);
}
.d{
    background-image: url(images/kick.png);
}
.j{
    background-image: url(images/tom1.png);
}
.k{
    background-image: url(images/tom2.png);
}
.l{
    background-image: url(images/tom3.png);
}

